html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav-bar {
  display: flex;
  background-color: #3c3a39;
  height: 92px;
  align-items: center;
  justify-content: space-around;
}

.menu-list {
  display: none;
}

#list-menu {
  width: 80%;
}

.langs li {
  padding: 10px 12px;
  max-width: 95px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  margin: 0 12px 0 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.langs-2 li {
  padding: 10px 12px;
  max-width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #8993a4;
  box-sizing: border-box;
  margin: 0 12px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.show {
  display: block;
}

.height {
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.bar1,
.bar2,
.bar3 {
  width: 18px;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
}

.d-none {
  display: none !important;
}

.delete {
  color: #fff;
  margin-right: 40px;
  margin-top: 40px;
  align-self: flex-end;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.container {
  margin: 0;
  padding: 0;
  min-width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 24px;
  background-color: #1c1a19;
  justify-content: center;
  height: 590px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url(./img/Illustration.png);
}

.intro h1 {
  margin: 0;
  font-size: 56px;
  color: #ff6b00;
}

.intro h3 {
  color: #fff5e1;
  margin: 0;
}

.intro-details p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.social {
  list-style: none;
  width: 70%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.social-lg {
  display: none;
}

.recent-works {
  gap: 24px;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.work {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mobile-img {
  max-width: 327px;
  display: flex;
  justify-content: center;
}

.desk-img {
  display: none;
}

.title-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 307px;
  flex-direction: column;
}

.title-border {
  border: 1px solid #212121;
  min-width: 327px;
}

.title {
  height: 83px;
  font-family: Crete RoundArial, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 24px;
  color: #091e42;
}

.stories {
  font-family: Crete RoundArial, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: #091e42;
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.stories h5 {
  display: flex;
  width: 327px;
  justify-content: flex-start;
}

.mg {
  margin: 0 24px 24px 24px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.story-details {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  max-width: 327px;
}

.langs {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  flex-wrap: wrap;
}

.recent-works h5 {
  margin: 0;
}

.disp-btn {
  display: flex;
  justify-content: left;
  width: 327px;
  border: none;
}

.pst-btn {
  background: #ff6b00;
  margin: 12px 0;
  border: none;
  height: 48px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.projects {
  align-self: flex-start;
  width: 295px;
  height: 81px;
  left: 16px;
  top: 8px;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 64px 0 0 12px;
  padding-top: 12px;
}

ul {
  list-style: none;
}

.projects-details {
  align-self: flex-start;
  width: 295px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 12px;
}

.langs-2 {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.work-2 {
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.d-work {
  display: none;
}

.proj-work-j {
  height: 386px;
  width: 327px;
  background-image: url(/img/Img-Placeholder-0.png);
  background-repeat: no-repeat;
  margin: 24px;
  transition: 1.5s ease-out;
}

.proj-work-j:hover {
  transform: scale(1.1);
}

.proj-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  height: 48px;
  background: #ff6b00;
  margin: 12px 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.see {
  border: none;
  background: #ff6b00;
  padding: 12px 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  width: 100%;
}

.modal-footer {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.about {
  margin-top: 120px;
  background-color: #1c1a19;
}

.abt {
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 24px;
  justify-content: center;
  height: 590px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url(./img/illustration-about-me-mobile.png);
}

.bg {
  width: 80%;
  background-color: #fff;
}

.abt h2 {
  margin: 0;
  width: 327px;
  height: 79px;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
}

.d-abt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 8%;
  max-width: 80%;
}

.abt-details p {
  width: 327px;
  height: 148px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.abt-btn {
  display: flex;
  justify-content: left;
  width: 100%;
}

.get-btn {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  border: none;
  height: 48px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background: #ff6b00;
  color: #fff;
}

.technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.form {
  margin: 73px 0;
  width: 100%;
}

.form > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social li {
  padding-right: 18px;
}

.form > ul > li {
  margin-bottom: 39px;
  flex: 1;
}

.form input {
  border: none;
  width: 100%;
  margin: 0 16px;
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
}

.form textarea {
  width: 95%;
  height: 114px;
  border: none;
  background: #fbf8f7;
  padding: 12px;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.border-bottom {
  border-bottom: 1px solid #dbd8d7;
  padding-bottom: 14px;
}

.box {
  flex: 1;
}

.technologies li > ul > li {
  margin-bottom: 32px;
  height: 24px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.technologies h4 {
  font-family: InaiMathi, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 44px 0 44px 0;
}

.kite {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
  margin-right: 12px;
}

.sqr {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #ff6b00;
  margin-right: 12px;
}

.circle {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  margin-right: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contact-form > div {
  display: flex;
  margin-right: 24px;
  margin-left: 24px;
}

.interest {
  margin-top: 96px;
  min-width: 327px;
}

.contact-form ul {
  min-width: 327px;
}

.interest > h2 {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.btn-touch {
  justify-content: center;
  width: 100%;
  display: flex;
  margin: 0 auto;
  height: 48px;
}

.submit {
  background: #ff6b00;
  text-align: center;
  width: 150px;
  border: none;
  padding: 12px;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

footer {
  width: 100%;
}

.bg-footer {
  border-bottom: 1px solid #dbd8d7;
  width: 100%;
}

.bg-2-footer {
  border-bottom: 8px solid #0d151e;
  width: 134px;
  display: flex;
  justify-content: center;
}

button {
  transition: background-color 2s ease-in;
}

button:enabled {
  background: #f55800;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

button:active {
  background: #e05304;
  color: #f4f1f0;
}

button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

#list-menu li {
  border-bottom: 1px solid #6f6c6b;
}

#list-menu a {
  text-decoration: none;
  color: #fff5e1;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}

#delete {
  color: #67798e;
}

.img {
  width: 100%;
  height: auto;
}

.pop-up {
  display: flex;
  justify-content: center;
}

.pop-up-header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.pop-up-top {
  margin-left: 10%;
}

#close-popup {
  margin-right: 5%;
  cursor: pointer;
}

.pop-up-abt {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.pop-up-abt img {
  width: 80%;
  max-width: 600px;
}

.pop-up-details {
  width: 80%;
  max-width: 600px;
}

.pop-up-details p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #344563;
}

.modal-footer button {
  margin: 10px;
  width: 134px;
}

.pop-up-j {
  height: 80vh;
  overflow-y: scroll;
  width: 100%;
  top: 40px;
  position: fixed;
  opacity: 1;
}

.pop-up-bg {
  background-color: #fff;
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
}

.opacity-close {
  opacity: 0;
}

#error {
  color: red;
  display: flex;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

@media screen and (min-width: 1120px) {
  .menu {
    display: none;
  }

  .see {
    opacity: 0;
  }

  .proj-btn {
    opacity: 0;
  }

  .opacity-show {
    opacity: 1;
  }

  .proj-work-j {
    opacity: 1;
  }

  .work-2 {
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .menu-list {
    display: flex;
    justify-content: space-around;
    width: 293px;
    align-items: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
  }

  .menu-list a {
    color: #fff;
    text-decoration: none;
  }

  .menu-list img {
    margin-top: 6px;
  }

  .intro {
    background-image: url(./img/Illustration-header.png);
    height: 870px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .intro-details p {
    max-width: 566px;
  }

  .social-lg {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 20px;
    margin-right: 87px;
  }

  .social-lg li {
    margin-top: 20px;
  }

  .social {
    display: none;
  }

  .title-header {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .title-header h2 {
    display: flex;
    margin-right: 24px;
    width: 315px;
    margin-top: 70px;
  }

  .title-border {
    min-width: 794px;
  }

  .work {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;
  }

  .mobile-img {
    display: none;
  }

  .desk-img {
    max-width: 100%;
    display: flex;
  }

  .work section {
    max-width: 684px;
  }

  .pop-up-abt {
    flex-direction: row;
    justify-content: center;
  }

  .pop-up-abt img {
    margin-left: 20px;
  }

  .pop-up-details {
    align-self: flex-start;
  }

  .pop-up-details p {
    width: 90%;
    margin-left: 20px;
  }

  .modal-footer {
    align-content: flex-end;
    display: flex;
    width: 62%;
    justify-content: flex-start;
  }

  .recent-works {
    width: 100%;
    padding-left: 0;
  }

  .d-flex {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .d-work {
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }

  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .proj-work-1 {
    width: 327px;
    background-image: url(/img/Img-Placeholder-1.png);
    background-repeat: no-repeat;
    margin: 24px;
    height: 435px;
    display: flex;
    align-items: flex-end;
    transition: 1.5s ease-out;
  }

  .proj-work-1:hover {
    transform: scale(1.1);
  }

  .proj-work-2 {
    width: 327px;
    background-image: url(/img/Img-Placeholder-2.png);
    background-repeat: no-repeat;
    margin: 24px;
    height: 435px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 1.5s ease-out;
  }

  .proj-work-2:hover {
    transform: scale(1.1);
  }

  .proj-work-3 {
    height: 435px;
    width: 327px;
    background-image: url(./img/Img-Placeholder-3.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 24px;
    transition: 1.5s ease-out;
  }

  .proj-work-3:hover {
    transform: scale(1.1);
  }

  .langs-2 {
    margin-bottom: 16px;
  }

  .proj-work-0 {
    height: 435px;
    width: 327px;
    background-image: url(./img/Img-Placeholder-0.png);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 24px;
    transition: 1.5s ease-out;
  }

  .proj-work-0:hover {
    transform: scale(1.1);
  }

  .abt {
    background-image: url(./img/illustration-about-me.svg);
  }

  .abt-details p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    min-width: 566px;
    height: 148px;
    line-height: 32px;
  }

  .technologies {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    text-align: left;
  }

  .contact-form {
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  .contact-form > div {
    display: flex;
    width: 100%;
    height: 256px;
  }

  .interest {
    max-width: 455px;
  }

  .contact-form ul {
    max-width: 684px;
  }

  .footer-social {
    align-items: flex-end;
  }

  .btn-touch {
    justify-content: flex-start;
  }

  .form input {
    display: flex;
    width: 100%;
  }

  footer {
    margin-top: 274px;
  }

  .bg-2-footer {
    display: none;
  }

  .interest h2 {
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-right: 24px;
    width: 455px;
  }

  .mg {
    min-width: 448px;
    align-items: flex-start;
  }

  .stories {
    justify-content: flex-start;
  }

  .story-details {
    min-width: 448px;
  }

  .story-details p {
    width: 100%;
  }

  .logo {
    font-size: 20px;
  }

  #list-menu li {
    border-bottom: 0;
  }
}

@media screen and (min-width: 1500px) {
  .d-flex {
    justify-content: center;
  }
}

.form input,
.form textarea {
  transition: transform 0.5s linear;
}

.form input:hover,
.form textarea:hover {
  transform: translate(5px);
}
