html,
body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  display: flex;
  background-color: #3c3a39;
  height: 92px;
  align-items: center;
  justify-content: space-around;
}

.bar1,
.bar2,
.bar3 {
  width: 18px;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 24px;
  background-color: #1c1a19;
  justify-content: center;
  height: 590px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url(/img/Illustration.png);
}

.intro h1 {
  margin: 0;
  font-size: 56px;
  color: #ff6b00;
}

.intro h3 {
  color: #fff5e1;
  margin: 0;
}

.intro-details p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.social {
  list-style: none;
  width: 70%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
