html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.nav-bar {
  display: flex;
  background-color: #3c3a39;
  height: 92px;
  align-items: center;
  justify-content: space-around;
}

.bar1,
.bar2,
.bar3 {
  width: 18px;
  height: 2px;
  background-color: #fff;
  margin: 4px 0;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: center;
}

.container {
  margin: 0;
  padding: 0;
  min-width: 100%;
}

.intro {
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 24px;
  background-color: #1c1a19;
  justify-content: center;
  height: 590px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url(./img/Illustration.png);
}

.intro h1 {
  margin: 0;
  font-size: 56px;
  color: #ff6b00;
}

.intro h3 {
  color: #fff5e1;
  margin: 0;
}

.intro-details p {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.social {
  list-style: none;
  width: 70%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.recent-works {
  display: grid;
  grid-template-rows: 568px 386px 386px 386px 386px 386px 386px;
  gap: 24px;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.work {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.work img {
  max-width: 327px;
}

.title-header {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 307px;
}

.title {
  border-bottom: 1px solid #212121;
  max-width: 327px;
  height: 83px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Crete RoundArial, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 52px;
  padding-bottom: 24px;
}

.stories {
  align-self: flex-start;
  font-family: Crete RoundArial, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  color: #091e42;
  margin-top: 24px;
  max-width: 327px;
}

.mg {
  margin: 24px;
}

.story-details {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  max-width: 327px;
}

.langs {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.langs li {
  padding: 10px 12px;
  max-width: 95px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  margin: 0 12px 0 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.recent-works h5 {
  margin: 0;
}

.disp-btn {
  display: flex;
  justify-content: left;
  width: 327px;
  border: none;
}

.pst-btn {
  background: #ff6b00;
  margin: 12px 0;
  border: none;
  height: 48px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.projects {
  align-self: flex-start;
  width: 295px;
  height: 81px;
  left: 16px;
  top: 8px;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 64px 0 0 12px;
  padding-top: 12px;
}

ul {
  list-style: none;
}

.projects-details {
  align-self: flex-start;
  width: 295px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-left: 12px;
}

.langs-2 {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-left: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.langs-2 li {
  padding: 10px 12px;
  max-width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid #8993a4;
  box-sizing: border-box;
  margin: 0 12px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.work-2 {
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.proj-work {
  width: 327px;
  background-image: url(./img/Mask-Group.png);
  background-repeat: no-repeat;
  margin: 24px;
}

.proj-btn {
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  height: 48px;
  background: #ff6b00;
  margin: 12px 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.see {
  border: none;
  background: #ff6b00;
  padding: 12px 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
  width: 100%;
}

.about {
  display: grid;
  grid-template-rows: 652px 1249px;
  margin-top: 120px;
  background-color: #1c1a19;
}

.abt {
  display: flex;
  flex-direction: column;
  padding: 0 24px 0 24px;
  justify-content: center;
  height: 590px;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-image: url(./img/illustration-about-me-mobile.png);
}

.bg {
  width: 80%;
  background-color: #fff;
}

.abt h1 {
  margin: 0;
  width: 327px;
  height: 79px;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
}

.abt-details p {
  width: 327px;
  height: 148px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.abt-btn {
  display: flex;
  justify-content: left;
  width: 100%;
}

.get-btn {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  border: none;
  height: 48px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  background: #ff6b00;
  color: #fff;
}

.technologies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.form {
  margin: 73px 0;
  width: 100%;
}

.form > ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social li {
  padding-right: 18px;
}

.form > ul > li {
  margin-bottom: 39px;
  flex: 1;
}

.form input {
  border: none;
  width: 100%;
  margin: 0 16px;
}

.form textarea {
  width: 95%;
  height: 114px;
  border: none;
  background: #fbf8f7;
  padding: 12px;
}

.border-bottom {
  border-bottom: 1px solid #dbd8d7;
  padding-bottom: 14px;
}

.box {
  flex: 1;
}

.technologies li > ul > li {
  margin-bottom: 32px;
  height: 24px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.technologies h4 {
  font-family: InaiMathi, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 44px 0 44px 0;
}

.kite {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #ff6b00;
  transform: rotate(-45deg);
  margin-right: 12px;
}

.sqr {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #ff6b00;
  margin-right: 12px;
}

.circle {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: #ff6b00;
  border-radius: 150px;
  margin-right: 12px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
}

.contact-form > div {
  width: 100%;
}

.interest {
  margin-top: 96px;
}

.interest > h1 {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.btn-touch {
  justify-content: center;
  min-width: 131px;
  background: #ff6b00;
  display: flex;
  margin: 0 auto;
  height: 48px;
}

.submit {
  background: #ff6b00;
  text-align: center;
  border: none;
  padding: 12px;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  width: 100%;
}

footer {
  width: 100%;
}

.bg-footer {
  border-bottom: 1px solid #dbd8d7;
  width: 100%;
}

.bg-2-footer {
  border-bottom: 8px solid #0d151e;
  width: 134px;
  display: flex;
  justify-content: center;
}

button:enabled {
  background: #f55800;
}

button:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

button:active {
  background: #e05304;
  color: #f4f1f0;
}

button:disabled {
  background: #f4f1f0;
  color: #5b5957;
}
